body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#000000,#070808,#0c551a,#3daa53);
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

.agatinha {
    margin: 5px;
    color: rgb(127, 245, 9);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rolim {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagem-apos-paragrafo {
    display: inline-block;
    margin-left: 20px; 
  }

  .amovc{
    color: #ffffff;
    font-style: italic;

  }

  p{
    font-size: 145%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
  }
