body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#000000,#070808,#0c551a,#1baa38);
    color: var(--text-color)
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 768px) {
    .message {
        width: 80%;
    }

    /* Estilos para o botão */
    button {
        background-color: #4CAF50; /* Cor de fundo */
        border: none; /* Remove a borda */
        color: white; /* Cor do texto */
        padding: 12px 24px; /* Preenchimento interno */
        text-align: center; /* Centraliza o texto horizontalmente */
        text-decoration: none; /* Remove o sublinhado */
        display: inline-block; /* Torna o botão um bloco inline */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Altera o cursor ao passar por cima */
        border-radius: 5px; /* Bordas arredondadas */
        transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
        font-family: Arial, sans-serif; /* Fonte */
        font-weight: bold; /* Texto em negrito */
        outline: none; /* Remove a borda ao focar */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
    
    button:hover {
        background-color: #45a049; /* Altera a cor de fundo ao passar o mouse */
    }
    
    button:active {
        background-color: #388e3c; /* Altera a cor de fundo ao clicar */
    }
    
    button:focus {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Adiciona um contorno ao focar */
    }
}    