/* continuar.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#000000, #070808, #0c551a, #1baa38);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contain {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    text-align: center;
}

.messagi h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
}

.messagi p {
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button a {
    color: white;
    text-decoration: none;
}







.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
