:root{
    --bg-color: #222327;
    --text-color: #ffff;
    --main-color:#29fd53;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    min-height: 100vh;
    background: linear-gradient(#000000,#070808,#0c551a,#1baa38);
    color: var(--text-color)
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;

}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;

}
.navbar a:hover{
    color: var(--main-color);

}
.navbar a.active{
    color: var(--main-color);


}

.user{
    display: flex;
    align-items: center;

}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;

}

section{
    margin-top: 20px;
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;

    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 20vh;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transition: all .50s ease;


    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        
    }
    .navbar a:houver{
        color: var(--text-color);
        transform: translateY(5px);

    }
    .navbar a.active{
        color: var(--text-color);

    }
    .navbar.open{
        right: 2%;
    }

}






































* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;

}

body * {
    box-sizing: border-box;
    color: white;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.left-login-img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px; 
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}
    
.textfield input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login  h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.button{
    color: aliceblue;
}



